.card {
  width: 35%;
  border: solid #0000FF 2px;
  background-color: #F9F9F9;
  border-radius: 2rem;
  padding: 2rem;
  line-height: 2rem;
  margin-left: 20px;

  .body {
    margin-top: 1rem;
  }

  .h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}